BasedOnStyle: WebKit
IndentWidth: 4
TabWidth: 4
UseTab: Never
BreakBeforeBraces: Allman
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
ColumnLimit: 100
MaxEmptyLinesToKeep: 1
SpacesBeforeTrailingComments: 2
CommentPragmas: '^LLVM'
SortIncludes: true
IncludeBlocks: Preserve
IndentCaseLabels: true
AlignConsecutiveDeclarations: false
AlignOperands: false
AlignAfterOpenBracket: Align
